@import "tailwindcss";

:root {
  --obr-bg-default: #ffffff;
  --obr-bg-paper: #f3f4f6;
  --obr-text-primary: #111827;
  --obr-text-secondary: #6b7280;
  --obr-primary-main: #6366f1;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global scrollbar reset to prevent double scrolling on body */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Important: delegate scrolling to internal containers */
}
